{% extends 'base.html' %}

{% block title %}
Упс. Похоже Вы зашли не туда.{{ super() }}
{% endblock title %}

{% block head_description %}
Упс. Похоже Вы зашли не туда.
{% endblock head_description %}
{% block content %}
<div class="row-fluid">
    <header class="page-header span10 offset2">
    <h1>Упс. Похоже Вы зашли не туда.</h1>
    </header>
</div>


<div class="row-fluid">
    <div class="span8 offset2">
        <p>Адрес, который Вы ищите, не существует.</p>
        <p>Идите на <a href="{{ SITEURL }}">главную</a> или воспользуйтесь поиском ниже:</p>
        <div class="input-append">
            <form action="{{ SITEURL }}/search.html" onsubmit="return validateForm(this.elements['q'].value)">
                <input type="text" class="span12" placeholder="Поиск" name="q" id="tipue_search_input_404">
                <button class="btn" type="submit">Поиск</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
